@charset "UTF-8";
#logo {
	position: relative;
	padding-top: 20px;
	top: 0;
}
#doc, #header .wrapper, #footer .wrapper {
	min-width: 44.615em;
}
#doc-bg {
	display: none !important;
}
#doc {
	background: white;
	text-align: left !important;
}
#main dl.image img {
	width: auto;
}